.masonry__grid {
  position: relative;
}

.masonry__item {
  position: absolute;
  transition: left 0.3s ease-out, top 0.3s ease-out, opacity 0.01s 0.31s;
}

.masonry__item.is-loading {
  opacity: 0;
}
